
server:
  port: ${CONFIG_SERVER_PORT:8888}

spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_GIT_URI}
          default-label: ${CONFIG_GIT_BRANCH:main}

management:
  endpoints:
    web:
      exposure:
        include: health,info

